.contact-section {
    padding: 50px;
    text-align: center;
    /* background-color: #0d6efd; */
    background-image: linear-gradient(to right, #0d6efd , #5ae8a6);

    color: white;
}

.contact-row {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 100px;
}

.contact-column img {
    width: 100%;
}

.contact-page-form input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contact-page-form input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.contact-page-form input[type=submit]:hover {
    background-color: #45a049;
}


/* Style the container/contact section */

.container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    /* padding: 50px; */
}
.embeded-map{
    display: flex;
    justify-content: center;
}
@media (max-width: 900px) {
    .contact-row {
        grid-template-columns: repeat(1, 1fr);
    }
}