.product-items-parent {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.product-item {
    padding: 10px;
    border: 1px solid black;
}

.product-item svg {
    font-size: 22px;
}

.pi-btns {
    display: flex;
    justify-content: space-between;
}

.pi-btns-p {
    display: flex;
    font-size: 16px;
}

.pi-paras {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .product-items-parent {
        grid-template-columns: repeat(2, auto);
    }
    .pi-btns-p {
        /* display: flex; */
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .product-items-parent {
        grid-template-columns: repeat(1, auto);
    }
}